
body {
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: black;
    line-height: 24px;
}

h1, h2 {
    color: #ffb000;
} 

h1 {
    font-size: 42px;
}

.wrapper {
    max-width: 1164px;
    width: 100%;
    margin: 0 auto;
}

.header-main {
    display: flex;
    justify-content: space-around;
}

.header-main-title p {
    font-size: 24px;
    letter-spacing: 2px;
}